.main-nav {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
  box-sizing: border-box;
}

.main-nav--opened .main-nav__toggle {
  display: none;
}

.main-nav--opened .main-nav__cart-svg {
  display: none;
}

.main-nav--login {
  position: relative;
  z-index: 200;
}

.main-nav--cart {
  position: relative;
  z-index: 200;
}

.main-nav--login::after {
  display: none;
}

.main-nav--cart::after {
  display: none;
}

.main-nav::after {
  content: "";

  position: absolute;
  bottom: 34.5%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f6f5f4;
}

.main-nav--card::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f6f5f4;
}

.main-nav--closed .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__cart-svg {
  display: none;
}

.main-nav__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-nav__form-wrapper {
  padding-top: 15px;
  margin-right: 11.6%;
}

.main-nav__form-wrapper form {
  position: relative;
  width: 200px;
}

.main-nav__form-wrapper--catalog form {
  margin-top: 6px;
}

.main-nav__form-wrapper--card form {
  margin-top: 6px;
}

.main-nav__form-wrapper button {
  position: absolute;
  top: 0;
  left: -5px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav__form-wrapper--catalog button {
  top: 0;
}

.main-nav__form-wrapper--card button {
  top: 0;
}

.main-nav__form-wrapper button:hover,
.main-nav__form-wrapper button:focus {
  background-color: #a87b62;
  fill: #ffffff;
}

.main-nav__form-wrapper input {
  appearance: none;
  border-radius: 0;
  padding-left: 29px;
  height: 24px;
  border: none;
  width: 100%;
  font-family: $poppins;
  font-size: 14px;
  cursor: pointer;
}

.main-nav__form-wrapper input:hover,
.main-nav__form-wrapper input:focus {
  background-color: #a87b62;
}

.main-nav__form-wrapper input::placeholder {
  font-family: $poppins;
  line-height: normal;
}

.main-nav__form-wrapper input:hover::placeholder,
.main-nav__form-wrapper input:focus::placeholder {
  color: #ffffff;
}

.main-nav__logo {
  display: block;
  margin: 0 auto;
  width: 66px;
  height: 66px;
}

.main-nav__logo svg {
  fill: #a87b62;
  width: 66px;
  height: 66px;
}

.main-nav__contact-list {
  display: none;
}

.main-nav__user-list {
  margin: 0;
  padding: 0;
  max-width: 120px;
  margin-top: 13px;
  font-family: $poppins;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: auto;
}

.main-nav__user-list--catalog {
  margin-top: 23px;
}

.main-nav__user-list--card {
  margin-top: 23px;
}

.main-nav__user-list a {
  text-decoration: none;
  color: #1d1613;
}

.main-nav__user-item {
  margin-right: 35px;
  margin-bottom: 5px;
  cursor: pointer;
}

.main-nav__user-item:hover a,
.main-nav__user-item:focus a {
  color: #a87b62;
}

.main-nav__user-item:nth-child(2n + 2) {
  margin-right: 0;
}

.main-nav__user-list span {
  margin-left: 7px;
}

.main-nav__menu-list-wrapper {
  width: 100%;
}

.main-nav__menu-list-wrapper--catalog {
  margin-top: 10px;
}

.main-nav__menu-list-wrapper--card {
  margin-top: 10px;
}

.main-nav__menu-list {
  padding: 0;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
  line-height: 24px;
  width: 493px;
  padding-left: 10px;
  list-style: none;
}

.main-nav__menu-list a {
  text-decoration: none;
  color: #1d1613;
}

.main-nav__menu-list-wrapper--catalog .main-nav__menu-list {
  margin-bottom: 14px;
}

.main-nav__menu-item {
  margin-right: 35px;
  margin-bottom: 5px;
  cursor: pointer;
}

.main-nav__menu-item:hover a,
.main-nav__menu-item:focus a {
  color: #a87b62;
}

.main-nav__menu-item:nth-child(5n + 5) {
  margin-right: 0;
}

@media (max-width: $tablet-width-only) {
  .main-nav {
    padding-bottom: 30px;
  }

  .main-nav--catalog {
    padding-bottom: 30px;
  }

  .main-nav::after {
    display: none;
  }

  .main-nav__toggle {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    align-self: center;
  }

  .main-nav--closed .main-nav__toggle {
    display: block;
    cursor: pointer;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #1d1613;
    box-shadow: 0 8px 0  #1d1613,
      0 16px 0  #1d1613;
  }

  .main-nav--closed .main-nav__toggle:hover::before {
    background-color: #a87b62;
    box-shadow: 0 8px 0  #a87b62,
      0 16px 0  #a87b62;
  }

  .main-nav--opened .main-nav__toggle:hover::before {
    background-color: #755644;
    box-shadow: 0 8px 0  #755644,
      0 16px 0  #755644;
  }


  .main-nav--closed .main-nav__form-wrapper {
    display: none;
  }

  .main-nav__form-wrapper input {
    border-radius: 0;
    color: #ffffff;
  }

  .main-nav__form-wrapper input::placeholder {
    color: transparent;
  }

  .main-nav__form-wrapper input:hover::placeholder,
  .main-nav__form-wrapper input:focus::placeholder {
    color: transparent;
  }

  .main-nav__form-wrapper button {
    top: 9px;
    left: 6px;
  }

  .main-nav--closed svg {
    fill: none;
  }

  .main-nav--opened svg {
    fill: none;
  }

  .main-nav__form-wrapper svg {
    width: 16px;
    height: 16px;
    fill: #ffffff;
  }

  .main-nav--closed .main-nav__user-list {
    display: none;
  }

  .main-nav--closed .main-nav__menu-list-wrapper {
    display: none;
  }

  .main-nav--closed .main-nav__cart-svg {
    display: block;
    width: 30px;
    height: 30px;
    align-self: center;
  }

  .main-nav__logo svg {
    fill: #a87b62;
  }

  .main-nav--opened {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    min-height: 100%;
    padding-left: 5.86%;
    padding-right: 5.86%;
    background-color: #a87b62;
    z-index: 100;
  }

  .main-nav--opened .main-nav__toggle {
    order: 1;
    display: block;
  }

  .main-nav--opened .main-nav__logo {
    order: 2;
  }

  .main-nav--opened .main-nav__cart-svg {
    order: 3;
    width: 30px;
    height: 30px;
    position: relative;
    display: block;
    margin-top: 0;
    align-self: center;
  }

  .main-nav__cart-svg svg {
    stroke: #1d1613;
    position: relative;
    top: 6px;
    left: 11px;
  }

  .main-nav__cart-svg:hover svg {
    stroke: #a87b62;
  }

  .main-nav--opened .main-nav__cart-svg svg {
    stroke: #ffffff;
  }

  .main-nav--opened .main-nav__cart-svg svg:hover {
    stroke: #755644;
  }

  .main-nav--opened .main-nav__form-wrapper {
    order: 4;
    width: 100%;
    margin-right: 0;
    margin-top: 25px;
  }

  .main-nav__menu-list-wrapper li {
    margin: 0;
    margin-bottom: 21px;
  }

  .main-nav__menu-list a:hover,
  .main-nav__menu-item:hover a,
  .main-nav__menu-list a:focus {
    color: #755644;
  }

  .main-nav__menu-list-wrapper li:last-child {
    margin-bottom: 0;
  }

  .main-nav--opened .main-nav__menu-list-wrapper {
    order: 5;
    margin-top: 46px;
  }

  .main-nav__contact-list {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    font-size: 18px;
    line-height: 23px;
    list-style: none;
  }

  .main-nav__contact-list li {
    margin-bottom: 20px;
  }

  .main-nav__contact-list li:last-child {
    margin-bottom: 0;
  }

  .main-nav__contact-list a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
  }

  .main-nav__contact-list a:hover,
  .main-nav__contact-list a:focus {
    color: #755644;
  }

  .main-nav--opened .main-nav__contact-list {
    order: 6;
    display: block;
  }

  .main-nav__user-list {
    max-width: 100%;
  }

  .main-nav__user-list li {
    margin: 0;
    margin-bottom: 15px;
  }

  .main-nav__user-list li:last-child {
    margin-bottom: 0;
  }

  .main-nav__user-list a {
    color: #ffffff;
  }

  .main-nav__user-list a:hover,
  .main-nav__user-list a:focus {
    color: #755644;
  }

  .main-nav--opened .main-nav__user-list {
    order: 7;
    margin: 0;
    font-size: 18px;
    line-height: 23px;
    margin-top: 45px;
    width: 100%;
  }

  .main-nav--opened .main-nav__cart {
    display: none;
  }

  .main-nav__menu-list a {
    color: #ffffff;
  }

  .main-nav--opened .main-nav__menu-list {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    flex-direction: column;
  }

  .main-nav--opened form {
    width: 100%;
  }

  .main-nav--opened input {
    height: 40px;
    padding-left: 28px;
    border-radius: 21px;
    background-color: rgba(255, 255, 255, 0.15);
  }

  .main-nav--opened input:hover {
    background-color: #976e58;
  }

  .main-nav--opened .main-nav__toggle::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    box-shadow: 0 8px 0  #ffffff,
      0 16px 0  #ffffff;
  }

  .main-nav--opened .main-nav__logo svg {
    fill: #ffffff;
  }

  .main-nav--nojs {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    min-height: 100%;
    padding-left: 5.86%;
    padding-right: 5.86%;
    background-color: #a87b62;
    z-index: 100;
  }

  .main-nav--nojs .main-nav__logo {
    order: 2;
    z-index: 5;
  }

  .main-nav--nojs .main-nav__wrapper {
    display: flex;
    z-index: 5;
  }

  .main-nav--nojs .main-nav__user-list {
    display: block;
    z-index: 5;
    order: 7;
    margin: 0;
    font-size: 18px;
    line-height: 23px;
    margin-top: 45px;
    width: 100%;
    color: #ffffff;
  }

  .main-nav--nojs .main-nav__form-wrapper {
    order: 4;
    width: 100%;
    margin-right: 0;
    margin-top: 25px;
    display: block;
    z-index: 5;
  }

  .main-nav--nojs .main-nav__toggle {
    order: 1;
    z-index: 11;
    display: block;
  }

  .main-nav--nojs .main-nav__toggle::before {
    background-color: #ffffff;
    box-shadow: 0 8px 0  #ffffff,
      0 16px 0  #ffffff;
  }

  .main-nav--nojs form {
    width: 100%;
  }

  .main-nav--nojs .main-nav__menu-list-wrapper {
    order: 5;
    display: block;
    z-index: 5;
    margin-top: 46px;
  }

  .main-nav--nojs .main-nav__menu-list {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    font-size: 24px;
    line-height: 36px;
    flex-direction: column;
  }

  .main-nav--nojs .main-nav__cart-svg {
    order: 3;
    display: block;
    margin-top: 4px;
    align-self: center;
    z-index: 5;
  }

  .main-nav--nojs .main-nav__contact-list {
    order: 6;
    display: block;
  }

  .main-nav--nojs input {
    width: 100%;
    height: 40px;
    padding-left: 28px;
    border-radius: 21px;
    background-color: rgba(255, 255, 255, 0.15);
  }

  .main-nav--nojs svg {
    fill: none;
    stroke: #ffffff;
  }

  .main-nav--nojs .main-nav__cart {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main-nav__logo {
    width: 52px;
    height: 52px;
  }

  .main-nav__logo svg {
    width: 52px;
    height: 52px;
  }

  .main-nav--card::before {
    display: none;
  }

  .main-nav--opened .main-nav__form-wrapper {
    padding: 0;
    margin-top: 30px;
  }

  .main-nav--opened .main-nav__menu-list-wrapper {
    margin-top: 35px;
  }

  .main-nav--opened .main-nav__contact-list {
    margin-top: 30px;
  }

  .main-nav--opened .main-nav__user-list {
    margin-top: 35px;
  }

  .main-nav--opened {
    padding-left: 4.69%;
    padding-right: 4.69%;
    min-height: 673px;
    position: fixed;
    overflow-y: scroll;
  }

  .main-nav--opened .main-nav__wrapper {
    min-height: 673px;
    overflow-y: scroll;
  }
}
