.main-new {
  padding-left: 7.2%;
  padding-right: 7.2%;
  padding-top: 120px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.main-new__wrapper {
  display: flex;
  max-width: 1170px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.main-new__wrapper button {
  width: 35px;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-new__back-button-wrapper {
  margin-left: -22px;
  margin-right: 22px;
}

.main-new__back-button-wrapper svg {
  margin-bottom: 1px;
}

.main-new__back-button-wrapper--card button {
  margin-left: 16px;
  margin-right: -37px;
}

.main-new__back-button-wrapper--card svg {
  margin-top: 14px;
}

.main-new__forward-button-wrapper svg {
  margin-top: 9px;
}

.main-new__forward-button-wrapper--card svg {
  margin-top: 14px;
}

.main-new__wrapper svg {
  width: 29px;
  height: 9px;
}

.main-new__title-wrapper--card {
  margin-left: 20px;
}

.main-new__title-wrapper h2 {
  margin: 0;
  font-family: $cormorant-garamond;
  font-size: 34px;
  line-height: 44px;
  font-weight: 700;
  color: #1d1613;
}

.main-new__title-wrapper a {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 25px;
  text-decoration: none;
  color: #1d1613;
}

.main-new__title-wrapper a:focus,
.main-new__title-wrapper a:hover {
  color: #a87b62;
}

.main-new__title-wrapper a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 80px;
  height: 1px;
  background-color: #a87b62;
}

.main-new__title-wrapper--card a {
  margin-top: 19px;
}

.main-new__title-wrapper--card a::after {
  bottom: -5px;
  left: 86px;
}

.main-new__product-list-wrapper {
  margin-top: 59px;
  width: 1170px;
}

.main-new__product-list-wrapper--card {
  margin-top: 65px;
}

.main-new__product-list {
  padding: 0;
  max-width: 1170px;
  height: 358px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
}

.main-new__product-item {
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: hidden;
}

.main-new__product-item img {
  width: 270px;
  height: 284px;
  display: block;
}

.main-new__product-item:hover p,
.main-new__product-item:hover span {
  color: #a87b62;
}

.main-new__product-list p {
  margin: 0;
  margin-top: 20px;
  text-align: center;
  color: #1d1613;
}

.main-new__product-list span {
  display: block;
  margin-top: 6px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: #1d1613;
}

.main-new__product-list li:nth-child(4n + 4) {
  margin-right: 0;
}

.main-new__page-list {
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  margin: 0 auto;
  margin-top: 44px;
  justify-content: center;
}

.main-new__page-item {
  margin-right: 12px;
  color: #9b9997;
  cursor: pointer;
}

.main-new__page-item--active {
  color: #1d1613;
}

.main-new__page-item:hover {
  color: #a87b62;
}

.main-new__page-item:nth-child(6n + 4),
.main-new__page-item:nth-child(6n + 5),
.main-new__page-item:nth-child(6n + 6) {
  display: none;
}

.main-new__page-item:nth-child(3n + 3) {
  margin-right: 0;
}

.main-new__mobile-page-wrapper {
  display: none;
}

@media (max-width: $tablet-width-only) {
  .main-new {
    padding-left: 5.86%;
    padding-right: 5.86%;
    padding-top: 70px;
  }

  .main-new__back-button-wrapper {
    margin-left: -6px;
    margin-right: 5px;
  }

  .main-new__title-wrapper a {
    margin-top: 20px;
  }

  .main-new__title-wrapper a::after {
    bottom: -4px;
  }

  .main-new__product-list-wrapper {
    margin-top: 54px;
    width: 678px;
    justify-content: space-between;
  }

  .main-new__product-list {
    height: 405px;
  }

  .main-new__product-list p {
    margin-top: 20px;
  }

  .main-new__product-item:nth-child(2n + 1) p {
    margin-top: 16px;
    padding-left: 14px;
  }

  .main-new__product-item:nth-child(2n + 1) span {
    margin-top: 11px;
  }

  .main-new__product-list img {
    display: block;
    width: 324px;
    height: 340px;
  }

  .main-new__wrapper {
    max-width: 678px;
  }

  .main-new__wrapper svg {
    width: 36px;
    height: 15px;
  }

  .main-new__wrapper button {
    width: 45px;
  }

  .main-new__back-button-wrapper svg {
    margin-top: 12px;
  }

  .main-new__forward-button-wrapper svg {
    margin-top: 12px;
  }

  .main-new__product-item:nth-child(4n + 2) {
    margin-right: 0;
  }

  .main-new__product-item:nth-child(6n + 3) {
    margin-right: 14px;
  }

  .main-new__page-item:nth-child(6n + 4),
  .main-new__page-item:nth-child(6n + 5),
  .main-new__page-item:nth-child(6n + 6) {
    display: inline;
  }

  .main-new__page-item:nth-child(6n + 4) {
    margin-left: 15px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-new {
    padding-left: 4.69%;
    padding-right: 4.69%;
    padding-top: 61px;
  }

  .main-new__wrapper {
    max-width: 320px;
  }

  .main-new__product-list-wrapper {
    margin-top: 44px;
  }

  .main-new__product-list {
    height: 225px;
    max-width: 290px;
  }

  .main-new__product-list img {
    width: 130px;
    height: 136px;
  }

  .main-new__title-wrapper a {
    margin-top: 19px;
  }

  .main-new__product-list p {
    width: 130px;
    margin-top: 16px;
  }

  .main-new__page-list {
    display: none;
  }

  .main-new__mobile-page-wrapper {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
  }

  .main-new__mobile-page-list {
    display: block;
    padding: 0;
  }

  .main-new__mobile-page-wrapper p {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    align-self: center;
  }

  .main-new__mobile-page-item {
    display: none;
  }

  .main-new__mobile-page-item--active {
    display: block;
  }

  .main-new__product-item:nth-child(2n + 1) p {
    margin-top: 16px;
    padding-left: 0;
  }

  .main-new__product-item:nth-child(2n + 1) span {
    margin-top: 6px;
  }

  .main-new__title-wrapper--card {
    margin: 0 auto;
  }

  .main-new__back-button-wrapper--card {
    display: none;
  }

  .main-new__forward-button-wrapper--card {
    display: none;
  }
}
