.main-header {
  position: relative;
  padding-left: 7.2%;
  padding-right: 7.2%;
}

@media (max-width: $tablet-width-only) {
  .main-header {
    padding-left: 5.86%;
    padding-right: 5.86%;
  }

  .main-header--opened {
    padding-top: 126px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-header {
    padding-left: 4.69%;
    padding-right: 4.69%;
  }

  .main-header--opened {
    padding-top: 92px;
  }
}
